<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/global.css" rel="stylesheet" type="text/css" />
        <link href="styles/form.css" rel="stylesheet" type="text/css" />
        <link href="styles/login.css" rel="stylesheet" type="text/css" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>

    <body class="column">
        
        <div class="column card login__card">

            <h1>Login</h1>
            <div id="form_id" class="column login__form" >
                <input type="tel" class="form__input" id="cpf" name="cpf" placeholder="CPF" />
                <input type="password" class="form__input" id="pass" name="password" placeholder="Senha" />
                <button class="form__button login__button" id="login">Entrar</button>
            </div>

        </div>

    </body>

    <script>

        const button    = document.getElementById("login");
        const cpf       = document.getElementById("cpf");
        const password  = document.getElementById("pass");

        button.addEventListener('click', async () => {

            const postResponse = await axios.post('/login', {
                cpf: cpf.value,
                password: password.value
            })
            
            if (postResponse.data == "usuario entrou") {
                window.location = "/create-item"
            }

        })

    </script>

</html>