<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SignUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/global.css" rel="stylesheet" type="text/css" />
        <link href="styles/form.css" rel="stylesheet" type="text/css" />
        <link href="styles/login.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>

    <body class="column">
        
        <div class="column card login__card">

            <h1>Sign Up</h1>
            <div class="column login__form" >
                <input  id="cpf" type="tel" class="form__input" name="cpf" placeholder="CPF" />
                <input  id="pass" type="password" class="form__input" name="password" placeholder="Senha" />
                <button id="login" class="form__button login__button" type="submit">Registrar</button>
            </div>

        </div>

    </body>

    <script>

        const button    = document.getElementById("login");
        const cpf       = document.getElementById("cpf");
        const password  = document.getElementById("pass");

        button.addEventListener('click', async () => {

            const postResponse = await axios.post('/register', {
                cpf: cpf.value,
                password: password.value
            })
            
            console.log(postResponse.data)
            if (postResponse.data == "usuario cadastrado") {
                window.location = "/login"
            }

        })

    </script>

</html>