.dish__card {
    width: 40vw;
    max-width: 600px;
    margin-bottom: 15px;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0.3, 1.5);
}

.delete__button {
    position: relative;
    top: 0;
    left: 0;
    height: 2rem;
    align-self: center;
    background-color: rgb(255, 123, 123);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0.3, 1.5);
}

.edit__button {
    position: relative;
    top: 0;
    left: 0;
    height: 2rem;
    align-self: center;
    background-color: rgb(255, 196, 123);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0.3, 1.5);
}