<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pratos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/global.css" rel="stylesheet" type="text/css" />
        <link href="styles/form.css" rel="stylesheet" type="text/css" />
        <link href="styles/dishesList.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="column">
        
        <div class="navbar">
            <h3 class="navbar__item accent__text">Esses são seus pratos!</h3>
            <h3 class="navbar__item">Quarto B2</h3>
        </div>

        <script>
            
            // name: string,
            // description: string,
            // calories: number,
            // nutritionist: string
            const dishes = [
                {
                    name: "Macarrão com Queijo",
                    description: "Macarrão com queijo muito bom",
                    calories: 200,
                    nutritionist: "João"
                },
                {
                    name: "Lasanha",
                    description: "Lasanha muito boa",
                    calories: 100,
                    nutritionist: "Vitor"
                },
                {
                    name: "Pizza",
                    description: "Pizza muito boa",
                    calories: 300,
                    nutritionist: "João"
                }
            ]

            for (let food of foods) {

                fetch(`/kitchen/${food}`).then(ingredients => ingredients.json()).then(ingredients => 
                    {

                        for (let ingredient of JSON.parse(ingredients) ){

                            let ingredientCard = document.createElement("div")
                            ingredientCard.classList.add("card")
                            ingredientCard.classList.add("ingredient__card")

                            let columnDiv = document.createElement("column")
                            columnDiv.classList.add("column")

                            let ingredientNameH3 = document.createElement("h3")
                            ingredientNameH3.innerText = ingredient.descricao

                            let ingredientCaloriesH4 = document.createElement("h4")
                            ingredientCaloriesH4.classList.add("accent__text")
                            ingredientCaloriesH4.innerText = ingredient.calorias

                            columnDiv.appendChild(ingredientNameH3)
                            columnDiv.appendChild(ingredientCaloriesH4)

                            ingredientCard.appendChild(columnDiv)

                            document.getElementById("ingredients-container").appendChild(ingredientCard)

                        }
                    }

                ).then(() => {

                    let selected = []
                    const ingredients = [ ...document.querySelectorAll(".ingredient__card") ]
                    const totalCalories = 0
                    
                    ingredients.forEach((ing) => {

                        ing.addEventListener("click", () => {
                            
                            const [name, caloriesString] = ing.innerText.split('\n')
                            const calories = parseInt(caloriesString.replace(/[^0-9]/g, ''))
                            const totalCaloriesElement = document.getElementById("total_calories")

                            if(ing.classList.contains("ingredient__card--selected")){
                                selected.splice(selected.indexOf({ name, calories }), 1)
                            }else{
                                selected.push({ name, calories })
                            }
                            console.log(selected)
                            ing.classList.toggle("ingredient__card--selected") 

                        })

                    })
                })

            }

        </script>

        <div id="dishes-container" /> 

    </body>
</html>