<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pratos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/global.css" rel="stylesheet" type="text/css" />
        <link href="styles/form.css" rel="stylesheet" type="text/css" />
        <link href="styles/dishesList.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="column">
        
        <div class="navbar">
            <h3 class="navbar__item accent__text">Esses são seus pratos!</h3>
            <h3 class="navbar__item">Quarto B2</h3>
        </div>

        <script>
            
            // name: string,
            // description: string,
            // calories: number,
            // nutritionist: string
            // const dishes = [
            //     {
            //         name: "Macarrão com Queijo",
            //         description: "Macarrão com queijo muito bom",
            //         calories: 200,
            //         nutritionist: "João"
            //     },
            //     {
            //         name: "Lasanha",
            //         description: "Lasanha muito boa",
            //         calories: 100,
            //         nutritionist: "Vitor"
            //     },
            //     {
            //         name: "Pizza",
            //         description: "Pizza muito boa",
            //         calories: 300,
            //         nutritionist: "João"
            //     }
            // ]

            const deleteDish = async (id) => {
                fetch(`/prato/${id}`, {method: "DELETE"})
                    .then(response => {
                        location.reload(true)
                    }).catch(error => {
                        alert("Erro ao deletar prato")
                        console.error(error)
                    })
            }

            fetch(`/prato`).then(dishes => dishes.json()).then(dishes => 
                {
                    console.log(dishes)
                    for (let dish of dishes ){

                        console.log(dish)

                        let dishCard = document.createElement("div")
                        dishCard.classList.add("card")
                        dishCard.classList.add("dish__card")

                        let rowDiv = document.createElement("row")
                        rowDiv.classList.add("row")

                        let columnDiv = document.createElement("column")
                        columnDiv.classList.add("column")

                        let deleteButton = document.createElement("button")
                        deleteButton.classList.add("delete__button")
                        deleteButton.innerText = "Deletar"
                        deleteButton.onclick = () => deleteDish(dish.id)

                        let editButton = document.createElement("button")
                        editButton.classList.add("edit__button")
                        editButton.innerText = "Editar"

                        let dishNameH3 = document.createElement("h3")
                        dishNameH3.innerText = dish.name

                        let dishCaloriesH4 = document.createElement("h4")
                        dishCaloriesH4.classList.add("accent__text")
                        dishCaloriesH4.innerText = dish.description

                        columnDiv.appendChild(dishNameH3)
                        columnDiv.appendChild(dishCaloriesH4)

                        rowDiv.appendChild(columnDiv)
                        rowDiv.appendChild(editButton)
                        rowDiv.appendChild(deleteButton)

                        dishCard.appendChild(rowDiv)

                        document.getElementById("dish-container").appendChild(dishCard)

                    }
                }

            )

        </script>

        <div id="dish-container" /> 

    </body>
</html>